.fade-enter-active
.fade-leave-active
  transition-property opacity
  transition-duration .25s
  transition-timing-function ease-in-out

.fade-enter
.fade-leave-active
  opacity 0



.fade-modal-enter-active
.fade-modal-leave-active
  transition-property opacity
  transition-duration .4s
  transition-timing-function ease-out

.fade-modal-enter
.fade-modal-leave-active
  opacity 0