@import "variables"

html, body
  height 100%
  font-size 62.5%
  color $text-color-base
  font-weight $font-weight-regular
  defaultFontFamily()

h1, .h1
  font-size $font-size-black-desktop //4.2
  line-height $line-height-default

h2, .h2
  font-size $font-size-big-desktop //2.8
  line-height $line-height-small

h3, .h3
  font-size $font-size-large-desktop //1.8
  line-height $line-height-regular

h4, .h4
  font-size $font-size-medium-desktop //1.6
  line-height $line-height-medium

h5, .h5
  font-size $font-size-small-desktop //1.5
  line-height $line-height-medium

p
  font-size $font-size-medium-desktop //1.6
  line-height $line-height-medium

li, th, td
  font-size $font-size-medium-desktop

h1, h2, h3, h4, h5, h6, p, li, th, td
  font-weight $font-weight-regular
  setFontColor()
  &._centered
    text-align center
  &._uppercase
    text-transform uppercase
  &._fwbold
    font-weight $font-weight-bold

b
  font-weight $font-weight-medium-text

img[data-object-fit="contain"]
  object-fit contain

img[data-object-fit="cover"]
  object-fit cover

img
  max-width 100%
  display block
  position relative
  min-height 50px
  &:before
    ps()
    height 100%
    width 100%
    background-color $bIBgColor
    border $bIBorder
    border-radius $bIBorderR
    box-sizing border-box
  &:after
    content "We're sorry, the image `" attr(alt) "` is broken \2639"
    width 100%
    text-align center
    font-size 16px
    color $bIColor
    position absolute
    left 0
    top 50%
    transform translateY(-50%)

a[href]
  &:not([class])
    color $defaultLinkColor
    text-decoration underline
  &:empty:before
    content attr(href)

::selection
  background $text-color-primary
  text-shadow none

textarea
  resize vertical

.wrapper
  min-height 100%
  min-width $wrapper-min-width
  display flex
  flex-direction column
  align-items stretch
  overflow hidden
  position relative
  background $bg-color-lighter
  background linear-gradient(to bottom, $bg-color-lighter 0%, #CECECE 100%);

.container
  max-width $wrapper-max-width
  min-width $wrapper-min-width
  margin 0 auto
  padding 0 15px

